/* Shop Container */
.title__shop {
    padding: 3vw;
    font-size: 4vw;
}

.container__shop {
    padding: 3% 5%;
}
.text__card {
    font-size: 1vw;
    margin: 12px 0;
}
div.coumn {
  margin: 30px;
}
.card__products:hover {
  padding: 8px ;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 8px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 0px 5px 8px rgba(0,0,0,0.21);
  box-shadow: 0px 0px 5px 8px rgba(0,0,0,0.21);
  transition: 0.4s linear;
}
@media (max-width: 768px) {
    .text__card {
        font-size: 4vw;
    }
    .title__shop {
        font-size: 4vw;
    }
    .container__shop {
        padding: 3% 3%;
    }
} 
.card__products {
  margin: 33px 0;
  height: 260px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
      
    }
    .card__products {
      height: 330px;
    }
  }
  
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .card__products {
      height: 400px;
    }
  }